# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.tabbit*
run-tabbit.bat

# Local env files
.env
.env.*
!.env.example


# runtime files
runtime/uploads/*
!runtime/uploads/.gitkeep
!runtime/uploads/welcome.png
runtime/db/*
!runtime/db/.gitkeep
